@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.sign-up-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ba005c;
  font-family: "Poppins";
  font-size: 1rem;
}

mat-card {
  width: 100%;
  max-width: 600px;
  padding: 30px;
}

mat-card-title {
  text-align: center;
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 35px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

#btn-cancel, #btn-sign-up {
  grid-column: span 1;
  margin-top: 16px;
}

#btn-cancel {
  background-color: #ffd9e1;
  color: #474747;
}

#btn-sign-up {
  background-color: #ba005c;
  color: white;
}

.login-section{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p{
  color: black;
}

.login-link{
  color: #ba005c;
  width: auto;
}