@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  color: #ba005c;
}

mat-card {
  width: 100%;
  max-width: 600px;
  padding: 20px;
}

mat-card-title {
  text-align: center;
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 35px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

mat-form-field {
  width: 100%;
}

#btn-cancel, #btn-sign-up {
  grid-column: span 1;
  margin-top: 16px;
}

#btn-cancel {
  background-color: #ffd9e1;
  color: #474747;
}

#btn-sign-up {
  background-color: #ba005c;
  color: white;
}