<div class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            placeholder="Ingresa tu email"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Contraseña</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="Ingresa tu contraseña"
            required
          />
        </mat-form-field>

        <button mat-raised-button type="submit" id="btn-login">Ingresar</button>
      </form>

      <div class="register-section">
        <p>¿No tienes cuenta?</p>
        <a routerLink="/auth/signup" class="register-link">Registrarme</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
