#home-container {
    height: 100vh;
    background-image: url('/superhero-app/public/fondo.jpg') !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}