@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

.titulo {
  text-align: center;
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;
  color: #ba005c;
}

/* Forzar el diseño de dos columnas en app-hero-list */
app-hero-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 5%;
}
