<ng-template #divLoading>
    <mat-grid-list cols="1">
        <mat-grid-tile>
            <mat-spinner></mat-spinner>
        </mat-grid-tile>
    </mat-grid-list>
</ng-template>

<div *ngIf="heroes.length > 0; else divLoading" class="grid">
    <h2 class="titulo">Lista de Heroínas</h2>
    <div *ngFor="let hero of heroes" class="col-12 sm:col-6">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{ hero.alter_ego || 'Sin alter ego' }}</mat-card-title>
                <mat-card-subtitle>{{ hero.superhero || 'Sin nombre' }}</mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <mat-list>
                    <mat-list-item>{{ hero.first_appearance || 'Sin aparición' }}</mat-list-item>
                    <mat-list-item>{{ hero.characters || 'Sin personajes' }}</mat-list-item>
                    <mat-list-item>{{ hero.publisher || 'Sin editorial' }}</mat-list-item>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>