@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    color: #ba005c;
    background-image: url('/superhero-app/public/fondo.jpg') !important;
}

mat-card {
  width: 400px;
  padding: 1% 4%;
}

mat-card-title {
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  font-size: 1.8rem;
  margin-bottom: 35px;
  text-align: center;
}