<div *ngIf="heroes.length === 0">No hay heroínas disponibles.</div>

<div *ngFor="let hero of heroes" class="hero-card">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ hero.superhero || 'Sin nombre' }}</mat-card-title>
            <mat-card-subtitle>{{ hero.alter_ego || 'Sin alter ego' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <strong>Primera aparición: </strong> {{ hero.first_appearance || 'Sin aparición' }}
                </mat-list-item>
                <mat-list-item>
                    <strong>Personajes: </strong> {{ hero.characters || 'Sin personajes' }}
                </mat-list-item>
                <mat-list-item>
                    <strong>Editorial: </strong> {{ hero.publisher || 'Sin editorial' }}
                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>