<div class="login-container">
  <mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
      <form>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            placeholder="Ingresa tu email"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Contaseña</mat-label>
          <input
            matInput
            type="password"
            placeholder="Ingresa tu contraseña"
            required
          />
        </mat-form-field>
        <button mat-raised-button id="btn">Ingresar</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
